#boton{
    background-color: map-get($colores , botonNav);
@extend %buttonDefault;
    &:hover{
        background-color: map-get($colores , botonNav);
        color: map-get($colores, colfooter);
        padding: 15px;
    }
}

#boton2{
    background-color: map-get($colores , botonNav);
    @extend %buttonDefault;
        &:hover{
            background-color:map-get($colores ,botonNav );
            color: map-get($colores, colfooter);
            padding: 15px;
        }
}