.footer{
    max-width: 1200px;
    color: map-get($colores, navegador );
    background-color: map-get($colores, colfooter );
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}



