$colors:(
    primary:#0a3e49d1,
    main:  rgba(245, 245, 245, 0.307),
    nagegador: #16a861e8,
    botonNav: yellowgreen,
    bordersOpac: #8ab9cab8, 
    textColor: #8e819ffd,
    textNavbar: #150425,
)