$colores:(
    primary:#0a3e49d1,
    colmain:  rgba(245, 245, 245, 0.307),
    nagegador: #16a861e8,
    botonNav: yellowgreen,
    colfooter: #02191d, 
    textColor: #8e819ffd,
    textNavbar: #150425,
)