@media screen and (max-width: 576px){
    body{
        max-width: 576px;
        background-repeat: repeat;
        background-size: cover; 
    }

    .imagen__titulo{
        padding-bottom:  40px;
        max-width: 400px;
    }
    h4 {
        display: inline-flex;
        position: relative;
        top: -20px;
        justify-content: center;
        color: white;  
        padding: 10px;
    }




    
header {
    max-width: 576px;
    background-color: #0a3e49d1;
}
    .footer{
    max-width: 576px;
    }

    .redesSociales{
    position: absolute;
    margin-left: 110px;
    right: 30px;
    }

    .wspImg{
        position: fixed;
        top: 100px;
        right: 20px;    
    }

    .navegador{
        text-align: justify;
        max-width: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        background-color: #16a861e8;
        border-radius: 15px;
    }
    
    .nav-item{   
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        height: auto;
        padding: auto;
    }

    .link{
        color: white;
        font-weight: 700;
        font-size: 18px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }
}
.mainservicios{
    margin: 3px;
    max-width: fit-content;
 }

