h4 {
    display: inline-flex;
    position: relative;
    top: -40px;
    justify-content: center;
    color: white;  
    padding: 10px;
}
h1 {
    display: flex;
    position: center;
    top: 0px;
    border:15px;
    text-align: center;
    justify-content: center;
    color: whitesmoke;  
    padding: 10px;
}
h2{
    display: flex;
    position: center;
    border:15px;
    text-align: center;
    justify-content: center;
    color: whitesmoke;  
    font-style: italic;


}
