#boton:hover {
  background-color: blue;
  color: whitesmoke;
  padding: 15px;
}

#boton2:hover {
  background-color: rgb(255, 0, 38);
  color: whitesmoke;
  padding: 15px;
}

.maingrid {
  max-width: 1200px;
  max-height: auto;
  background-color: rgba(245, 245, 245, 0.307);
  justify-content: center;
  align-content: center;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 30px;
  display: grid;
  gap: 2px;
}

header {
  max-width: 1200px;
  background-color: rgba(10, 62, 73, 0.8196078431);
}
header .imagen__titulo {
  display: inline flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
  padding-bottom: 40px;
  width: 1000px;
}
header .imagen__titulo:hover {
  transform: scale(1);
}

.navegador {
  text-align: center;
  display: flex;
  max-width: auto;
  justify-content: center;
  background-color: rgba(22, 168, 97, 0.9098039216);
  border-radius: 15px;
}
.navegador .nav-item {
  display: inline;
  flex-wrap: wrap;
  border-radius: 10px;
  width: auto;
  height: auto;
  padding: 5px;
}
.navegador .nav-item .link {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
  display: inline-flex;
  flex-wrap: wrap;
}

#botonNav {
  background-color: yellowgreen;
}

.footer {
  max-width: 1200px;
  color: rgba(22, 168, 97, 0.9098039216);
  background-color: #02191d;
  text-align: center;
  justify-content: center;
}

#boton, #boton2 {
  border: #02191d;
  border-radius: 20px;
  background-color: whitesmoke;
  transition: padding 1s;
}

h4 {
  display: inline-flex;
  position: relative;
  top: -40px;
  justify-content: center;
  color: white;
  padding: 10px;
}

h1 {
  display: flex;
  position: center;
  top: 0px;
  border: 15px;
  text-align: center;
  justify-content: center;
  color: whitesmoke;
  padding: 10px;
}

h2 {
  display: flex;
  position: center;
  border: 15px;
  text-align: center;
  justify-content: center;
  color: whitesmoke;
  font-style: italic;
}

.cardForm {
  background-color: rgba(10, 62, 73, 0.5450980392);
  width: 600px;
  border-radius: 100px;
  text-align: center;
  color: yellowgreen;
  padding: 10px;
}

textarea {
  width: 350px;
  height: 100px;
}

@media screen and (max-width: 576px) {
  .imagen__titulo {
    padding-bottom: 40px;
    width: auto;
  }
  header {
    max-width: 576px;
    background-color: rgba(10, 62, 73, 0.8196078431);
  }
  .footer {
    max-width: 576px;
  }
  .redesSociales {
    margin-left: 110px;
  }
  .wsp {
    position: fixed;
    top: 295px;
    right: 10px;
  }
  .navegador {
    text-align: center;
    max-width: auto;
    justify-content: center;
    background-color: rgba(22, 168, 97, 0.9098039216);
    border-radius: 15px;
  }
  .nav-item {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    padding: auto;
  }
  .link {
    color: white;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .imagenservicios {
    background-color: rgba(10, 62, 73, 0.5450980392);
    border: 3px solid;
    border-radius: 15px;
    max-width: auto;
    grid-area: imagenservicios;
    color: white;
    background-color: rgba(10, 62, 73, 0.5450980392);
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
    grid-template-areas: "im1 im2" "im3 im4";
  }
  .im1 {
    grid-area: im1;
    width: 260px;
    height: 260px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 15px;
  }
  .im2 {
    grid-area: im2;
    width: 260px;
    height: 260px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 15px;
  }
  .im3 {
    grid-area: im3;
    width: 260px;
    height: 260px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 15px;
  }
  .im4 {
    grid-area: im4;
    width: 260px;
    height: 260px;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 15px;
  }
  #servitext {
    background-color: rgba(10, 62, 73, 0.5450980392);
    border: solid;
    border-radius: 15px;
    max-width: auto;
    margin: 100px;
    background-color: #0a3e49;
    grid-area: servitext;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 10px;
  }
}
* {
  margin: 0px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.redesSociales {
  display: flex;
  justify-content: flex-end;
  margin-left: 1100px;
}
.redesSociales #iconoRedes1 {
  max-width: 50px;
  max-height: 50px;
  border: solid;
  border-color: rgba(10, 62, 73, 0.5529411765);
  background-color: white;
  padding: 5px;
  border-radius: 200px;
}
.redesSociales #iconoRedes2 {
  max-width: 50px;
  max-height: 50px;
  border: solid;
  border-color: rgba(10, 62, 73, 0.5529411765);
  background-color: white;
  padding: 5px;
  border-radius: 200px;
}
.redesSociales #iconoRedes3 {
  max-width: 50px;
  max-height: 50px;
  border: solid;
  border-color: rgba(10, 62, 73, 0.5529411765);
  background-color: white;
  padding: 5px;
  border-radius: 200px;
}

.wsp {
  position: fixed;
  top: 335px;
  right: 30px;
}
.wsp:hover {
  transform: scale(1.5);
}
.wsp .wspImg {
  border-radius: 18px;
  max-width: 65px;
  max-height: 65px;
}

body {
  background-image: url("../imagenes/609.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainservicios {
  max-width: 1200px;
  margin: 10px;
  display: grid;
  gap: 2px;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 5, 1fr;
  grid-template-areas: "serv serv none none" "servitext servitext imagenservicios imagenservicios" "servitext servitext imagenservicios imagenservicios";
}

#servitext {
  max-width: 100%;
  margin: 100px;
  grid-area: servitext;
  color: white;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  padding: 10px;
}

.imagenservicios {
  grid-area: imagenservicios;
  max-width: 730px;
  color: white;
  background-color: #0a3e49;
  border-radius: 15px;
  border: white solid;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "im1 im2" "im3 im4";
}

.im1 {
  grid-area: im1;
  width: 350px;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}

.im2 {
  grid-area: im2;
  width: 350px;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}

.im3 {
  grid-area: im3;
  width: 350px;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}

.im4 {
  grid-area: im4;
  width: 350px;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}

.mainProductos {
  max-width: 1200px;
  margin: 10px;
  display: grid;
  gap: 2px;
  grid-template-columns: 2 2fr;
  grid-template-rows: 1 2fr;
  grid-template-areas: "produText imagenProductos";
}
.mainProductos .imagenProductos {
  max-width: 350px;
  color: white;
  background-color: rgba(10, 62, 73, 0.8196078431);
  border-radius: 15px;
  border: white solid;
}
.mainProductos .imagenProductos .ima1 {
  max-width: 10rem;
}
.mainProductos #produText {
  max-width: 100%;
  margin: 20px;
  color: white;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  padding: 100px;
  background-color: rgba(10, 62, 73, 0.8196078431);
}/*# sourceMappingURL=styles.css.map */