@import "./partials/maps";
@import "./partials/buttons";
@import "./partials/mixins";
@import "./partials/main";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/extends";
@import "./partials/tittles";
@import "./partials/form";
@import "./partials/responsive";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.redesSociales{
    display: flex;
    justify-content: flex-end;
    margin-left: 1100px;
    
        #iconoRedes1{
            max-width: 50px;
            max-height: 50px;
            border: solid;
            border-color: #0a3e498d;
            background-color:white;
            padding: 5px;
            border-radius: 200px;
        }
        #iconoRedes2{
            max-width: 50px;
            max-height: 50px;
            border: solid;
            border-color: #0a3e498d;
            background-color:white;
            padding: 5px;
            border-radius: 200px;
        }
        #iconoRedes3{
        max-width: 50px;
        max-height: 50px;
        border: solid;
        border-color: #0a3e498d;
        background-color:white;
        padding: 5px;
        border-radius: 200px;
        }
    }

    .wsp{
        position: fixed;
        top: 335px;
        right: 30px;  
        &:hover{
            transform: scale(1.5);
            }  
        .wspImg{
           border-radius: 18px;
            max-width: 65px;
            max-height: 65px;
        }
    }
    
body{
    background-image: url("../imagenes/609.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    max-width: 1200px;  
    margin: auto;
}


.mainservicios{
    max-width: 1200px;
    margin: 10px;
    display: grid;
    gap: 2px;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 5, 1fr;
    grid-template-areas: 
    "serv serv none none"
    "servitext servitext imagenservicios imagenservicios"
    "servitext servitext imagenservicios imagenservicios";
}

#servitext{
    max-width: 100%;
    margin: 150px 0px 10px 0px;
    grid-area: servitext;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    background-color: map-get($colores , textoextra );
}

.imagenservicios{
    grid-area: imagenservicios;
    max-width: auto;
    color: white;  
    background-color: #0a3e49;
    border-radius: 15px;
    border: white solid;   
    gap: 5px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "im1 im2"
    "im3 im4"
}
.im1{
    grid-area: im1;
    max-width: 400px;
    max-height: 350px;
    border-radius: 15px;
}
.im2{
    grid-area: im2;
    max-width: 400px;
    max-height: 350px;
    border-radius: 15px;
}
.im3{
    grid-area: im3;
    max-width: 400px;
    max-height: 350px;

    border-radius: 15px;
}
.im4{
    grid-area: im4;
    max-width: 400px;
    max-height: 350px;

    border-radius: 15px;
}


.mainProductos{
    max-width: 1100px;
    margin: 10px;
    display: grid;
    gap: 1px;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    textoprod imgprod;

    .imagenProductos{
        grid-area: imgprod;
        max-width: fit-content;
        color: white;  
        background-color: map-get($colores , primary);
        border-radius: 20px;
        border: white solid;  
     }
     .ima1{
        border-radius: 20px;
     }
    .produText{
        grid-area: textoprod;
        max-width: 100%;
        margin: 10px;
        color: white;
        text-align: center;
        justify-content: center;
        border-radius: 15px;
        padding: 10px;
        background-color: map-get($colores , primary );
    }
 }