@import "./partials/maps";
@import "./partials/buttons";
@import "./partials/mixins";
@import "./partials/main";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/extends";
@import "./partials/tittles";
@import "./partials/form";
@import "./partials/responsive";

*{
    margin: 0px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.redesSociales{
    display: flex;
    justify-content: flex-end;
    margin-left: 1100px;
    
        #iconoRedes1{
            max-width: 50px;
            max-height: 50px;
            border: solid;
            border-color: #0a3e498d;
            background-color:white;
            padding: 5px;
            border-radius: 200px;
        }
        #iconoRedes2{
            max-width: 50px;
            max-height: 50px;
            border: solid;
            border-color: #0a3e498d;
            background-color:white;
            padding: 5px;
            border-radius: 200px;
        }
        #iconoRedes3{
        max-width: 50px;
        max-height: 50px;
        border: solid;
        border-color: #0a3e498d;
        background-color:white;
        padding: 5px;
        border-radius: 200px;
        }
    }

    .wsp{
        position: fixed;
        top: 335px;
        right: 30px;  
        &:hover{
            transform: scale(1.5);
            }  
        .wspImg{
           border-radius: 18px;
            max-width: 65px;
            max-height: 65px;
        }
    }
    
body{
    background-image: url("../imagenes/609.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}


.mainservicios{
    max-width: 1200px;
    margin: 10px;
    display: grid;
    gap: 2px;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 5, 1fr;
    grid-template-areas: 
    "serv serv none none"
    "servitext servitext imagenservicios imagenservicios"
    "servitext servitext imagenservicios imagenservicios";
}

#servitext{
    max-width: 100%;
    margin: 100px;
    grid-area: servitext;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px
}

.imagenservicios{
    grid-area: imagenservicios;
    max-width: 730px;
    color: white;  
    background-color: #0a3e49;
    border-radius: 15px;
    border: white solid;    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "im1 im2"
    "im3 im4"
}
.im1{
    grid-area: im1;
    width: 350px;
    height: 350px;
    object-fit: contain;  
    border-radius: 15px;
}
.im2{
    grid-area: im2;
    width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 15px;
}
.im3{
    grid-area: im3;
    width: 350px;
    height: 350px;
    object-fit: contain;   
    border-radius: 15px;
}
.im4{
    grid-area: im4;
    width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 15px;
}


.mainProductos{
    max-width: 1200px;
    margin: 10px;
    display: grid;
    gap: 2px;
    grid-template-columns: 2 2fr;
    grid-template-rows: 1 2fr;
    grid-template-areas: 
    "produText imagenProductos";
    .imagenProductos{
        max-width: 350px;
        color: white;  
        background-color: map-get($colores , primary);
        border-radius: 15px;
        border: white solid;  
    
    .ima1{
        max-width: 10rem;
       
    }
     }
    #produText{
        max-width: 100%;
        margin: 20px;
        color: white;
        text-align: center;
        justify-content: center;
        border-radius: 15px;
        padding: 100px;
        background-color: map-get($colores , primary );
    }
 }